@import "variables.scss";
@import "mixin.scss";

.basketPage {
    position: relative;
    top: 17vh;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}
.cartItems {
    width: 45vw;
    height: fit-content;
    overflow-x: auto;
    // border: 2px solid ;
    background-color: #90ee906e;
    padding: $default-size;
    text-align: center;
    min-height: 200px;
    max-height: 80vh;
    &__heading{
        font-size:5rem;
       font-family: "Great Vibes", sans-serif;
       font-weight:700;
       color: transparent;
      background-clip:text;
      background-image: linear-gradient(
        45deg, #62fd62, #177c9c);   
    }
    .cart {
        padding: 0.3rem;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        background-color: white;
        margin: 1rem auto;
        transition: transform 0.4s ease-in-out;
        // @include respond(phone) {
        //     width: 40%;
        //     padding: 0.2rem;
        // }
        @include respond(phone) {
            width: 40%;
            padding: 0.2rem;
            margin: 0.5rem;
        }
        &__title {
            // font-family: "Great Vibes", sans-serif;
            font-family: "Poppins", sans-serif;
            font-size: $medium-size;
            font-weight: 200;
            margin: 2px 0;
            @include respond(phone) {
                font-size: $small-size;
            }
        }
        &__price {
            font-size: $default-size;
            &-mrp {
                text-decoration: line-through;
                color: gray;
            }
            @include respond(phone) {
                font-size: $extra-small-size;
            }
        }
        &__rating {
            display: flex;
            font-size: $small-size;
            .on {
                color: yellow;
            }
        }
        &__rating * {
            font-size: $default-size !important;
            @include respond(phone) {
                font-size: $extra-small-size !important;
            }
        }

        &:hover {
            // transform: scale(1.03);
            opacity: 0.9;
            // box-shadow: 0 0 5px #ffee10;
        }

        &__titleBtn {
            padding: 0;
            width: 100%;
            backface-visibility: hidden;
            position: relative;

            & img {
                width: 100%;
                height: 17vw;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }

            &:hover .cart__titleBtn-addCart {
                opacity: 1;
                // transform: translateY(-1rem);
                height: 100%;
                z-index: 9;
            }
            .cart__titleBtn-addCart {
                display: flex;
                // bottom: -1rem;
                bottom: 0;
                left: 0;
                padding: 0.8rem 0;
                opacity: 0;
                height: 0;
                position: absolute;
                z-index: 0;
                backface-visibility: hidden;
                justify-content: center;
                align-items: center;
                width: 100%;
                background-color: rgba($color-black, 0.14);
                // background-image: linear-gradient(to top, rgba($color-black, 0.2), transparent);
                transition: all 0.2s ease-in;
                color: white;
                &-btn {
                    padding: 0.4rem;
                    border-radius: 100%;
                    @include respond(phone) {
                        padding: 0.3rem 0.5rem;
                    }
                    svg {
                        margin-right: 0;
                        width: $medium-size;
                        height: $medium-size;
                        @include respond(phone) {
                            width: $small-size;
                            height: $small-size;
                        }
                    }
                    &-qty {
                        font-size: $default-size;
                        display: block;
                        margin: 0 1rem;
                        @include respond(phone) {
                            font-size: $double-extra-small-size;
                            margin-top: -0.2rem;
                            margin-bottom: -0.5rem;
                        }
                    }
                }
            }
        }
    }
}
.amountDetail {
    width: 45vw;
    padding: 0.5rem;
    overflow-x: auto;
    overflow-y: auto;
    height: fit-content;
    min-height: 200px;
    background-color: whitesmoke;
    // border: 2px solid $color-light-grey;
    text-align: center;
    background-color: $color-white;
    // border-radius: 1.5rem;
}

.quantity h6 {
    margin: auto;
}
.addRemove {
    margin: auto;
}
.addCart {
    border-radius: 100%;
    padding: 0rem 0.5rem;
    font-size: $default-size;
    font-weight: bold;
}
.amountItemPrice {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
td {
    text-align: center;
}
.lastRow {
    width: 100%;
    margin: auto;
}

.checkoutBtn {
    margin-top: 10px;
}
