$double-extra-small-size: 0.4rem;
$extra-small-size: 0.6rem;
$small-size: 0.8rem;
$default-size: 1rem;
$medium-size: 1.5rem;
$large-size: 2rem;
$medium-heading-size: 3rem;
$large-heading-size: 4rem;
//color variables
$color-white: white;
$color-light-grey: lightgrey;
$color-black: black;

$color-catagory-item: greenyellow;
$color-catagory-item-dark: limegreen;

//margin
$medium-margin-bottom: 4rem;
$big-margin-bottom: 8rem;
